<template>
  <div class="container">
    <h1>CSV Preview - Prototype (POC)</h1>
    <div v-if="this.jsonData">
      {{addData()}}
      <div class="container">
        <div class="row">
          <div class="col">
            <form class="btn-group-vertical">
              <label for="xAxis" v-for="(value, label) in this.xList" :key="label">
                <input type="radio" name="xAxis" :value="label" :id="label" v-model="xPicked">
                {{label}}
                <br>
              </label>
            </form>
            <br>
            <br>
            <strong>x Axis:</strong>
            <div class="alert alert-info">{{this.xPicked}}</div>
          </div>
          <div class="col">
            <form class="btn-group-vertical">
              <label for="yAxis" v-for="(value, label) in this.yList" :key="label">
                <input type="radio" name="yAxis" :value="label" :id="label" v-model="yPicked">
                {{label}}
                <br>
              </label>
            </form>
            <br>
            <br>
            <strong>y Axis:</strong>
            <div class="alert alert-info">{{this.yPicked}}</div>
          </div>
        </div>
      </div>
      <div>
        <!-- Plot here -->
        <div v-if="print">
          <line-chart :chart-data="this.datacollection"></line-chart>
        </div>
      </div>
    </div>
    <div v-else>loading data...</div>
    <div class="table-responsive" v-if="this.jsonData">
      <table class="table table-bordered">
        <tbody>
          <tr v-for="(value, key, label) in this.jsonData['variables']" :key="label">
            <th>
              {{key}}
              <div class="row-info">
                Type: {{value.type}}
                <br>
                Unique values: {{value.n_unique}}
              </div>
              <div class="histogram"></div>
            </th>
            <td v-for="(item, title) in value.value_counts_without_nan" :key="title">{{title}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import LineChart from "./LineChart.js";

export default {
  name: "Preview",
  components: {
    LineChart
  },
  props: {
    msg: String
  },
  data() {
    return {
      print: false,
      jsonData: null,
      xLabel: null,
      xList: [],
      yList: [],
      debug: "debugging",
      chartValues: [],
      chartLabels: [],
      xPicked: null,
      yPicked: null,
      xLabels: [],
      yValues: [],
      datacollection: {}
    };
  },
  mounted() {
    // Einlesen
    fetch("http://localhost:8080/data/your_report.json")
      .then(res => res.json())
      .then(data => (this.jsonData = data))
      // eslint-disable-next-line
      .catch(err => console.log(err.message));
  },
  methods: {
    addData() {
      this.xList = this.jsonData.variables;
      this.yList = this.jsonData.variables;
    },
    fillPlotData() {
      this.datacollection = {
        labels: this.xLabels,
        datasets: [
          {
            label: this.yPicked,
            backgroundColor: "#f87979",
            data: this.yValues
          }
        ]
      };
    },
    // plot() {
    //   if(print==true) {
    //     this.fillPlotData()
    //   }
    // },
    sortData() {
      // Future Work
    }
  },
  watch: {
    chartData() {
      this.$data._chart.update();
    },
    xPicked() {
      this.$emit("input", this.xPicked);
      this.chartLabels = Object.entries(
        this.xList[this.xPicked].value_counts_without_nan
      );
      const labelsMap = new Map(this.chartLabels);
      this.xLabels = Array.from(labelsMap.keys());
      // eslint-disable-next-line
      console.log(this.xLabels);
      this.print = true;
      this.fillPlotData();
    },
    yPicked() {
      this.$emit("input", this.yPicked);
      this.chartValues = Object.entries(
        this.yList[this.yPicked].value_counts_without_nan
      );
      const valuesMap = new Map(this.chartValues);
      this.yValues = Array.from(valuesMap.keys());
      // eslint-disable-next-line
      console.log(this.yValues);
      this.print = true;
      this.fillPlotData();
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.radiobtn-group {
  display: block;
}

.row-info {
  font-size: 10px;
  font-weight: 100;
}
</style>
