<template>
  <div id="app">
    <Preview />
  </div>
</template>

<script>
import Preview from './components/Preview.vue'

export default {
  name: 'app',
  components: {
    Preview
  }
}
</script>

<style>
</style>
